@import '../../../../sassStyles/_variables.scss';
@import '../../../../sassStyles/_mixins.scss';

.config__configbox {
  border: 1px solid $grayTextColor;
  border-radius: 0.7rem;
  padding: 1rem;
  width: 15rem;
  height: 10rem;
}
