@import '../../../sassStyles/_variables.scss';
@import '../../../sassStyles/_mixins.scss';

.about__container {
  flex-direction: column;
  width: 50%;
  gap: 1.2rem;

  @include smMaxBreakpoint {
    width: 100%;
    gap: 0.5rem;
  }
}

.about_container_parent {
  flex-direction: row;

  @include smMaxBreakpoint {
    flex-direction: column;
  }
}

.about__container_image {
  img {
    max-width: 700px;

    @include smMaxBreakpoint {
      max-width: 100%;
      margin-top: 6rem;
    }
  }
}
