@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.ruleset {
  background-color: $primaryColor;

  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  padding-inline: 1.6rem;
  height: 3rem;
  width: fit-content;

  gap: 0.5rem;

  span {
    font-size: 1.2rem;
    font-weight: 600;
    color: $whiteTextColor;
  }
}
