/* Dynamically declare margins and paddings using scss */
@for $i from 1 through 150 {
  .p#{$i} {
    padding: #{$i}px;
  }
  .pl#{$i} {
    padding-left: #{$i}px;
  }
  .pt#{$i} {
    padding-top: #{$i}px;
  }
  .pr#{$i} {
    padding-right: #{$i}px;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px;
  }
  .m#{$i} {
    margin: #{$i}px;
  }
  .ml#{$i} {
    margin-left: #{$i}px;
  }
  .mt#{$i} {
    margin-top: #{$i}px;
  }
  .mr#{$i} {
    margin-right: #{$i}px;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px;
  }
}
