/* Colors */
$primaryColor: #20232e;
$primaryDarkerColor: #171923;
$secondaryColor: #30e5b9;
$whiteTextColor: #ebebed;
$grayTextColor: #a0aec0;

/* Fonts */
$primaryFont: 'Lato', sans-serif;

/* Breakpoints */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
