/* Colors */
$primaryColor: #20232e;
$primaryDarkerColor: #171923;
$secondaryColor: #30e5b9;
$ternaryColor: #040921;
$whiteTextColor: #ebebed;
$grayTextColor: #a0aec0;
$successColor: #25d11f;
$errorColor: #d41d08;
$warningColor: #dd6b20;

/* Fonts */
$primaryFont: 'Lato', sans-serif;

/* Breakpoints */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
