.gradient-body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(186deg, rgba(0, 0, 0, 1) 4%, rgba(0, 0, 0, 1) 7%, rgba(3, 1, 43, 1) 88%, rgba(4, 2, 53, 1) 100%) no-repeat fixed;
}

.lato {
    font-family: 'Lato', sans-serif;
}
